<div class="row">
    <div class="col-md-12">
        <!-- button to add new recipees -->
        <button class="btn btn-success mt-3">New Recipee</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <!-- here v add teplate for single recipee item -->
        <!-- use ngFor directive to outputa list of recipees -->

        <!-- and attech each recipee to recipeeEl through property binding -->
        <app-recipee-item *ngFor="let recipee of recipeeList" [recipeeEl]="recipee" (recipeeInfo)="onRecipeeSelected(recipee)"></app-recipee-item>
        <!-- here event binding on recipeeInfo - pass recipee selected as argument -->
    </div>
</div>
