<div class="container">
  <div class="row">
    <div class="col col-md-12">
      <h1 class="text-center">Root Component</h1>
      <div class="header mt-4">
        <app-header></app-header>
      </div>
      <div class="row mt-4">
        <div class="col col-md-6 shopping-list">
          <app-shopping-list></app-shopping-list>
          <div class="shopping-list-edit mt-3">
            <app-shopping-list-edit></app-shopping-list-edit>
          </div>
        </div>
        <div class="col col-md-6 recipee-book">
          <app-recipee-book></app-recipee-book>
          <div class="recipee-item mt-3">
            <app-recipee-item></app-recipee-item>
          </div>
          <div class="recipee-details mt-3">
            <app-recipee-details></app-recipee-details>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
