<div class="row">
    <div class="col-md-12">
        <img src="" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>Recipee Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- dropdown menu -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage Recipee
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">To Shopping List</a>
              <a class="dropdown-item" href="#">Edit Recipee</a>
              <a class="dropdown-item" href="#">Delete Recipee</a>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      Ingredients
    </div>
</div>